<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Todolist</title>
</head>
<body>
    <div class="box">
        <h1>Todo list</h1>
    </div>
    <div class="box">
       <% dayej.forEach(function(items){ %>
        <form action="/delete"  method="POST">
        <div class="item">
            <input type="checkbox" name="checkbox1" value="<%= items.Id %>" onchange="this.form.submit()">
            <p><%= items.name %></p>  
        </div>
        </form>

        <%  }) %>
        <form action="/" method="POST">
        <input type="text" name="ele1" placeholder="Enter the task">
        <button type="submit">+</button>
        </form>
    </div>
</body>
</html>
